@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 8% 95%;
  --foreground: 250 5% 5%;
  --card: 250 8% 90%;
  --card-foreground: 250 5% 10%;
  --popover: 250 8% 95%;
  --popover-foreground: 250 95% 5%;
  --primary: 250 54% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 250 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 212 10% 85%;
  --muted-foreground: 250 5% 35%;
  --accent: 212 10% 80%;
  --accent-foreground: 250 5% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 250 5% 90%;
  --border: 250 20% 50%;
  --input: 250 20% 18%;
  --ring: 250 54% 46%;
  --radius: 0.75rem;
}
.dark {
  --background: 250 10% 5%;
  --foreground: 250 5% 90%;
  --card: 250 8% 5%;
  --card-foreground: 250 5% 90%;
  --popover: 250 10% 5%;
  --popover-foreground: 250 5% 90%;
  --primary: 250 54% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 250 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 212 10% 15%;
  --muted-foreground: 250 5% 60%;
  --accent: 212 10% 15%;
  --accent-foreground: 250 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 250 5% 90%;
  --border: 250 20% 18%;
  --input: 250 20% 18%;
  --ring: 250 54% 46%;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border font-mono;
  }
  body {
    @apply bg-background text-foreground;
  }
}
