---

---

<header
  class="fixed top-0 left-0 right-0 flex py-5 bg-secondary/75 backdrop-blur-sm"
>
  <nav class="container flex justify-between">
    <a href="/" class="no-underline text-secondary-foreground">
      <h3>Ke Duong</h3>
    </a>
    <span>
      <a href="/blogs" class="text-secondary-foreground">blogs</a>
      <a href="/work" class="text-secondary-foreground">work</a>
      <a href="/projects" class="text-secondary-foreground">projects</a>
    </span>
  </nav>
</header>
