---
interface Props {
  title: string;
  description: string;
  clickable?: boolean;
  showDate?: boolean;
}

const { title, description, clickable } = Astro.props;
---

<div
  class=`bg-card border-2 rounded-sm p-4 no-underline ${clickable ? "hover:border-card-foreground" : undefined}`
>
  <slot name="card-header" />
  <p class="font-semibold">{title}</p>
  <p>{description}</p>
  <slot name="card-footer" />
</div>
