---
import { getCollection } from "astro:content";
import { WORK_EXPERIENCE } from "../../consts";
import Page from "../../layouts/Page.astro";

const collection = (await getCollection("work-experiences")).sort(
  (a, b) =>
    new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf()
);
const workExperiences = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item.data, Content };
  })
);
---

<Page page={WORK_EXPERIENCE}>
  <h2>{WORK_EXPERIENCE.title}</h2>
  <ul class="flex flex-col space-y-8 list-none ml-0">
    {
      workExperiences.map((work) => (
        <li>
          <article>
            <h2>{work.company}</h2>
            <work.Content />
          </article>
        </li>
      ))
    }
  </ul>
</Page>
